body {
    /* tmp */
    font-family: Open Sans;
}

.container {
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
}

header {
    margin: 0;
    background-color: white;
    text-align: center;
    overflow: visible;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.up-bar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    font-size: 1.2em;
}

header .up-bar .adress {
    width: 60%;
    margin: 0;
}

header .up-bar .phone {
    width: 40%;
    text-align: center;
    display: block;
    margin: 0;
    min-width: 200px;
    text-decoration: none;
    color: black;
}

header .container {
    border-radius: 0 0 10px 10px;
    /* border-right: 1px solid rgb(235,91,36);
    border-bottom: 1px solid rgb(235,91,36);
    border-left: 1px solid rgb(235,91,36); */
}

.top-menu {
    display: flex;
    align-items: center;
    margin: 0;
    width: 80%;
    text-transform: uppercase;
    font-size: 1.3em;
    height: 70px;
}

.top-menu-list {
    list-style:none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

.top-menu-list-item{
    text-decoration: none;
    padding: 0 3% 0 3%;
    height: 100%;
    border-radius: 10px;
}

.top-menu-list-item:nth-child(2) {
    border-radius: 10px 10px 0 0;
}


.top-menu-list-item:hover{
    background-color: rgb(245, 245, 245);
}

.top-menu-list-item a{
    white-space: nowrap;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 70px;
    color: black;
}

.top-menu-list-item a:checked{
    color: black;
}

.logo {
    max-width: 230px;
    padding: 5px;
}

.sub-menu {
    background-color: rgb(245, 245, 245);
    list-style: none;
    font-size: 1em;
    text-transform: none;
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    border-right: 1px solid rgb(235,91,36);
    border-bottom: 1px solid rgb(235,91,36);
    border-left: 1px solid rgb(235,91,36);
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}

.top-menu-list-item:hover .sub-menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 350px;
}

.sub-menu-item-category {
    width: 30%;
    padding: 0;
    height:fit-content;
    line-height: 20px;
    padding: 10px 5px 5px 10px;
    margin-bottom: 10px;
}

.sub-menu-item-category a{
    padding: 0;
    line-height: 20px;
    border-radius: 10px;
}

.sub-menu-item-category a:hover{
    padding: 0;
    line-height: 20px;
    text-decoration: underline;
}

 .sub-sub-menu {
    font-weight: normal;
    list-style: none;
    padding: 0;
}

.search {
    display: flex;
    width: 18%;
}

#search-field {
    display: inline-block;
    width: 100%;
    border-width: 0px;
    border-bottom: 1px solid rgb(235,91,36);
    margin: 4px;
}

#search-field:focus-visible {
    border-image: none;
    border:none;
    background-color: white;
    color: inherit;
}

#search-submit {
    height: auto;
    border-width: 0px;
    background-color: white;
}

#burger-check {
    display: none;
}

.burger {
    display: none;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.burger-span {
    display: block;
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: black;
    top: 8px;
    transition: 0.5s all;
}

#second, #third {
    top: 18px;
}

#fourth {
    top: 28px;
}

/*tablet */
@media (min-width: 700px) and (max-width: 1024px) {
  .container {
      width: 100%;
  }  
}

/*phone */
@media (max-width: 800px){
    .container {
        width: 100%;
    }  

    header .up-bar{
        flex-direction: column;
        text-align: center;
    }

    header .up-bar .adress {
        width: 100%;
    }

    header .up-bar .phone {
        width: 100%;
    }

    header .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #logo {
        width: 70%;
    }

    .top-menu {
        flex-direction: column;
        order: 2;
        height: fit-content;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s all;
    }
  
    .burger {
        display: block;
    }

    #burger-check:checked ~ .burger #second {
        transform: rotate(45deg);
    }

    #burger-check:checked ~ .burger #third {
        transform: rotate(-45deg);
    }

    #burger-check:checked ~ .burger #first,
    #burger-check:checked ~ .burger #fourth {
        opacity: 0;
    }

    #burger-check:checked ~ .search {
        display: flex;
        max-height: 40px;
    }

    #burger-check:checked ~ .top-menu{
        max-height: 700px;
    }

    .top-menu-list {
        flex-direction: column;
        height: fit-content;
    }

    .sub-menu {
        display: none;
    }

    .top-menu-list-item:hover .sub-menu {
        display: none;
    }

    .search {
        width: 90%;
        display: flex;
        max-height: 0px;
        order: 1;
        overflow: hidden;
        transition: 0.5s all;
    }
}



/* ----------------- */

main {
    min-height: 1000px;
}

main h1 {
    font-size: xx-large;
}

main p {
    font-size: x-large;
}

main .container{
    flex-direction: column;
    padding: 10px 0 35px 0;
}

main .path {
    width: 100%;
    text-align: left;
}

main .path a {
    text-decoration: none;
}

#old-logo {
    width: 300px;
    float: right;
    margin: 5px;
}

.promo {
    display: flex;
    height: fit-content;
    margin-bottom: 30px;
}

#slider { /*положение слайдера*/
    position: relative;
    width: 85%;
	text-align: center;
    max-height: 500px;
}

#slides{
    height: 100%; 
}

#slides article{ /*все изображения справа друг от друга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
	height: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

main .container input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slider #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slider #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slider #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slider #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slider #slides .image{
	margin-left: -400%;
}


#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 10px 0 0;
	text-align: center;
    z-index: 99;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: rgb(235,91,36);
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #slider #active label:nth-child(1),
#switch2:checked ~ #slider #active label:nth-child(2),
#switch3:checked ~ #slider #active label:nth-child(3),
#switch4:checked ~ #slider #active label:nth-child(4),
#switch5:checked ~ #slider #active label:nth-child(5){
	background: rgb(235,91,36);
	border-color: rgb(235,91,36) !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}


.slider-description {
    width: 15%;
    margin: 10px;
}

.slider-description h2{
    position: relative;
    height: 10px;
    margin: 0;
    z-index: -1;
    opacity: 0.1;
}

.slider-description div{
    position: relative;
    height: 100%;
}

.slider-description-title {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: 0.6s all;
    font-size: 30px;
}

.slide-description-body {
    padding: 10px;
    position: absolute;
    opacity: 0;
    transition: 0.3s all;
    font-size: 18px;
}

#switch1:checked ~ .slider-description .slider-description-title:nth-child(1),
#switch2:checked ~ .slider-description .slider-description-title:nth-child(2),
#switch3:checked ~ .slider-description .slider-description-title:nth-child(3),
#switch4:checked ~ .slider-description .slider-description-title:nth-child(4),
#switch5:checked ~ .slider-description .slider-description-title:nth-child(5),
#switch1:checked ~ .slider-description .slide-description-body:nth-child(1),
#switch2:checked ~ .slider-description .slide-description-body:nth-child(2),
#switch3:checked ~ .slider-description .slide-description-body:nth-child(3),
#switch4:checked ~ .slider-description .slide-description-body:nth-child(4),
#switch5:checked ~ .slider-description .slide-description-body:nth-child(5){
	opacity: 1;
}

/* phone */
@media (max-width: 800px){
    #slider {
        width: 100%;
    }

    .slider-description {
        display: none;
    }
}

/* ----------------- */

.carousel {
    margin: 100px 0 0 0;
    max-width: 100%;
}

.carousel h1 {
    width: 100%;
    font-size: 21px;
    text-align: center;
}

.slider__wrapper {
    overflow: hidden;
}

#prev,
#next {
    z-index: 9;
}

.slider__item {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0.8);
    font-size: 7rem;
}

.card {
    min-width: 200px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
}

.card h4 {
    font-size: 17px;
    max-width: 200px;
    word-wrap:break-word;
    color: black;
    text-align: center;
}

.card a {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 10px auto 0 auto;
    overflow: hidden;
    z-index: 1;
    background-color: white;
}

.card a img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 18px auto 18px auto;
    background-color: white;
    z-index: 2;
}

/* phone */
@media (max-width: 800px){
    .slider__item {
        max-width: 100%;
        width: fit-content;
        margin: 5px 0;
    }

    #next,
    #prev {
        display: none;
    }

    .slider__wrapper {
        height: fit-content;
    }

    .slider__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


/* ----------------- */

footer .container {
    background-color: rgb(245, 245, 245);
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgb(235,91,36);
    border-top: 1px solid rgb(235,91,36);
    border-left: 1px solid rgb(235,91,36);
}

.footer-menu {
    display: block;
    padding-left: 7%;
    list-style: none;
}

.footer-menu a {
    color: black;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu-item {
    margin: 5px 0;
}

.contacts {
    padding-right: 7%;
}

.contacts h5 {
    margin: 4px;
}

.contacts h3 {
    text-decoration: none;
    color: black;
}

.socials {
    display: flex;
}

.socials .social-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 8px;
    padding: auto;
}

.socials .social-container a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px auto 5px auto;
}

.socials .social-container img {
    width: 100%;
    height: 100%;
}

/* ----------------- */