body {
    /* tmp */
    height: 2000px;
    font-family: Open Sans;
}

.container {
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1px;
    position: relative;
}

header {
    margin: 0;
    background-color: white;
    text-align: center;
    overflow: visible;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.up-bar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}

header .up-bar .adress {
    width: 60%;
    margin: 0;
}

header .up-bar .phone {
    width: 40%;
    text-align: center;
    display: block;
    margin: 0;
    min-width: 200px;
    text-decoration: none;
    color: black;
}

header .container {
    border-radius: 0 0 10px 10px;
    /* border-right: 1px solid rgb(235,91,36);
    border-bottom: 1px solid rgb(235,91,36);
    border-left: 1px solid rgb(235,91,36); */
}

.top-menu {
    display: flex;
    align-items: center;
    margin: 0;
    width: 80%;
    text-transform: uppercase;
    font-size:medium;
    height: 70px;
}

.top-menu-list {
    list-style:none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

.top-menu-list-item{
    text-decoration: none;
    padding: 0 3% 0 3%;
    height: 100%;
    border-radius: 10px;
}


.top-menu-list-item:hover{
    background-color: lavender;
}

.top-menu-list-item a{
    white-space: nowrap;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 70px;
    color: black;
}

.top-menu-list-item a:checked{
    color: black;
}

.logo {
    max-width: 230px;
    padding: 5px;
}

.sub-menu {
    list-style: none;
    font-size: 1em;
    background-color: white;
    text-transform: none;
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    /* border-right: 1px solid rgb(235,91,36);
    border-bottom: 1px solid rgb(235,91,36);
    border-left: 1px solid rgb(235,91,36); */
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}

.top-menu-list-item:hover .sub-menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 350px;
}

.sub-menu-item-category {
    width: 30%;
    padding: 0;
    height:fit-content;
    line-height: 20px;
    padding: 10px 5px 5px 10px;
}

.sub-menu-item-category a{
    padding: 0;
    line-height: 20px;
    border-radius: 10px;
    border-bottom: 1px solid white;
}

.sub-menu-item-category a:hover{
    padding: 0;
    line-height: 20px;
    text-decoration: underline;
}

 .sub-sub-menu {
    font-weight: normal;
    list-style: none;
    padding: 0;
}

.search {
    display: flex;
    width: 18%;
}

#search-field {
    display: inline-block;
    width: 100%;
    border-width: 0px;
    border-bottom: 1px solid rgb(235,91,36);
    margin: 4px;
}

#search-field:focus-visible {
    border-image: none;
    border:none;
    background-color: white;
    color: inherit;
}

#search-submit {
    height: auto;
    border-width: 0px;
    background-color: white;
}

#burger-check {
    display: none;
}

.burger {
    display: none;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.burger-span {
    display: block;
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: black;
    top: 8px;
    transition: 0.5s all;
}

#second, #third {
    top: 18px;
}

#fourth {
    top: 28px;
}

/*tablet */
@media (min-width: 700px) and (max-width: 1024px) {
  .container {
      width: 100%;
  }  
}

/*phone */
@media (max-width: 800px){
    .container {
        width: 100%;
    }  

    header .up-bar{
        flex-direction: column;
        text-align: center;
    }

    header .up-bar .adress {
        width: 100%;
    }

    header .up-bar .phone {
        width: 100%;
    }

    header .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #logo {
        width: 70%;
    }

    .top-menu {
        flex-direction: column;
        order: 2;
        height: fit-content;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s all;
    }
  
    .burger {
        display: block;
    }

    #burger-check:checked ~ .burger #second {
        transform: rotate(45deg);
    }

    #burger-check:checked ~ .burger #third {
        transform: rotate(-45deg);
    }

    #burger-check:checked ~ .burger #first,
    #burger-check:checked ~ .burger #fourth {
        opacity: 0;
    }

    #burger-check:checked ~ .search {
        display: flex;
        max-height: 40px;
    }

    #burger-check:checked ~ .top-menu{
        max-height: 700px;
    }

    .top-menu-list {
        flex-direction: column;
        height: fit-content;
    }

    .sub-menu {
        display: none;
    }

    .top-menu-list-item:hover .sub-menu {
        display: none;
    }

    .search {
        width: 90%;
        display: flex;
        max-height: 0px;
        order: 1;
        overflow: hidden;
        transition: 0.5s all;
    }
}



/* ----------------- */


#slider { /*положение слайдера*/
    position: relative;
    width: 70%;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

main .container input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* ----------------- */